h1{
    margin-left: 5px;
}

#products{
    display: flex;
    flex-wrap: wrap;
}

.product, #add{
    box-sizing: border-box;
    padding: 20px;
    width: calc(25% - 10px);
    margin: 5px;
    border: 1px solid black;
}

#add input:not([type=submit]){
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}