body {
  color: #fffff0;
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #010214;
  text-align: center;
}

header img {
  width: 200px;
}

header h1 {
  text-align: left;
  color: white;
}

header nav {
  text-align: right;
  background-color: #d6b731;
  padding: 20px;
}

header nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  text-decoration: underline;
}

section .content-wrapper {
  padding: 20px 0;
}

#about,
#contacts {
  color: black;
  text-align: center;
}

#about h2 {
  text-align: left;
}

#about p {
  text-align: justify;
  margin-bottom: 30px;
}

#about a {
  padding: 10px 50px;
  background-color: #d11e00;
  border-radius: 10px;
  color: white;
}

#tables {
  background-color: #021749;
}

table,
th,
td {
  border: 2px solid #d11e00;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  text-align: center;
}

td:last-child,
tr:last-child {
  text-align: right;
  font-weight: bold;
}

#contacts h2,
#contacts ul {
  text-align: left;
}

footer {
  text-align: center;
  background-color: #d6b731;
  padding: 20px 0;
  color: white;
}
