body{
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.header-wrapper{
    background-color: white;
}

header, main{
    max-width: 800px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    max-height: 40px;
    padding: 5px 0;
    vertical-align: middle; /* Not tested: used to eliminate default text space */
}

nav a{
    color: #333;
    margin-right: 40px;
}

nav a:last-child{
    margin-right: 0;
}

nav a:hover{
    color: black;
}

main{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#about img{
    width: 50%;
    float: left;
    padding: 0 10px 10px 0;
}

#contact .greentext{
    color: green;
}

#contact input, #contact textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#contact input[type=submit]{
    width: 50%;
    background-color: green;
    color: white;
    border: none;
}

#contact table{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#contact table, td, th{
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 5px;
}

#contact tr td:first-child{
    color: green;
    font-weight: bold;
}

footer{
    background-color: white;
    text-align: center;
    padding: 15px 0;
}