body{
    background-color: #333F48;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    background-color: #FF4700;
    color: white;
    overflow:auto;
}

.title, .menu{
    text-align: center;
}

.menu{
    padding: 10px 0;
}

.menu a{
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
}

section{
    padding: 50px 12px;
    background-color: white;
    border-bottom: 1px solid black;
}

#apie img{
    width: 250px;
    height: auto;
}

.content{
    display: inline-block;
    width: 715px;
    margin-left: 30px;
    vertical-align: top;
    text-align: center;
}

.content p{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: justify;
}

.content a{
    background-color: black;
    margin: 0 15px;
    border-radius: 10px;
    color: white;
}

#tvarkarastis table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

#tvarkarastis table td{
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}

#tvarkarastis table td:first-child{
    font-weight: bold;
}

#tvarkarastis table thead th{
	font-size: 1.6em;
	background-color: #EA9F26;
	color: white;
    padding: 10px;
    text-align: left;
}

#tvarkarastis td a{
    color: #AB230D;
}

#filosofija{
    text-align: center;
}

#filosofija cite{
    margin-bottom: 10px;
}

#filosofija cite span{
    display: block;
}

#kontaktai{
    padding-bottom: 0;
    border: 0;
}

#kontaktai img{
    max-width: 100%;
}

footer{
    text-align: center;
    margin: 10px 0;
    color: white;
    opacity: 0.5;
}